# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':{'$eq':20}}
fields = {}
limit = 1
result = list(establishments.find(query, fields))
# Use count_documents to display the number of documents in the result
resultcount = establishments.count_documents(query)
print(f'There are {resultcount} establishments with a hygiene score of 20.')
# Display the first document in the results using pprint
resultviewlimit = list(establishments.find(query, fields).limit(limit))
pprint(resultviewlimit)

There are 41 establishments with a hygiene score of 20.
[{'AddressLine1': '5-6 Southfields Road',
  'AddressLine2': 'Eastbourne',
  'AddressLine3': 'East Sussex',
  'AddressLine4': '',
  'BusinessName': 'The Chase Rest Home',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4613.888288172291,
  'FHRSID': 110681,
  'LocalAuthorityBusinessID': '4029',
  'LocalAuthorityCode': '102',
  'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
  'LocalAuthorityName': 'Eastbourne',
  'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'BN21 1BU',
  'RatingDate': '2021-09-23T00:00:00',
  'RatingKey': 'fhrs_0_en-gb',
  'RatingValue': 0,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656fc5cbfd2665174b1a7226'),
  'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
  'latitude': None,
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
             'rel': 'self'}],
  'longitude': None,
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}]

In [7]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(result)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))
# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,656fc5cbfd2665174b1a7226,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.27694', 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,656fc5cbfd2665174b1a75a3,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '1.278721', 'latitude': '51.8575...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,656fc5cbfd2665174b1a78ad,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '1.15927', 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,656fc5cbfd2665174b1a7aa1,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,656fc5cbfd2665174b1a7ab2,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.101446', 'latitude': '50.7707...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,656fc5cbfd2665174b1a8448,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.736349', 'latitude': '51.5414...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,656fc5cbfd2665174b1a8677,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.7121671', 'latitude': '51.535...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
7,656fc5cbfd2665174b1a9b95,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '0.602364', 'latitude': '51.5915...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,656fc5cbfd2665174b1a9fdc,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': '0.146449998021126', 'latitude':...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,656fc5cbfd2665174b1aa7ed,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.462307', 'latitude': '51.57005'}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
querya = {"AddressLine3":{'$regex':"London"},
        'RatingValue': {'$gt':4}}
resulta = list(establishments.find(querya, fields))
# Use count_documents to display the number of documents in the result
resultcounta = establishments.count_documents(querya)
print(f'There are {resultcounta} establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.')
# Display the first document in the results using pprint
resultviewlimita = list(establishments.find(querya, fields).limit(limit))
pprint(resultviewlimita)

There are 673 establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
[{'AddressLine1': 'Burger Van',
  'AddressLine2': 'Wickes',
  'AddressLine3': 'London Road',
  'AddressLine4': 'Sittingbourne',
  'BusinessName': 'Nats Snax',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'ChangesByServerID': 0,
  'Distance': 4618.8604695160675,
  'FHRSID': 836424,
  'LocalAuthorityBusinessID': '15/500750/MIXED',
  'LocalAuthorityCode': '189',
  'LocalAuthorityEmailAddress': 'EHAdmin@MidKent.gov.uk',
  'LocalAuthorityName': 'Swale',
  'LocalAuthorityWebSite': 'http://www.swale.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'ME10 1NU',
  'RatingDate': '2022-06-21T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656fc5cbfd2665174b1a7744'),
  'geocode': {'latitude': '51.342647', 'longitude': '0.717063'},
  'latitude': None,
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/836424',
             'rel': 'self'}],
  'longitude': None,
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [9]:
# Convert the result to a Pandas DataFrame
result_dfa = pd.DataFrame(resulta)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_dfa))
# Display the first 10 rows of the DataFrame
result_dfa.head(10)

Rows in DataFrame:  673

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,656fc5cbfd2665174b1a7744,836424,0,15/500750/MIXED,Nats Snax,Mobile caterer,7846,Burger Van,Wickes,London Road,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.717063', 'latitude': '51.3426...",,4618.860470,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,656fc5cbfd2665174b1a7867,1009559,0,17/500586/FOOD,Sittingbourne Rugby Club,Pub/bar/nightclub,7843,Gore Court Cricket Club,The Grove Park,London Road,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.703825', 'latitude': '51.3468...",,4619.497868,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,656fc5cbfd2665174b1a81ad,632021,0,PI/000023516,Welcome House,Caring Premises,5,Welcome House - Leeza Court,Leeza Court,9 London Road,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.601078987121582', 'latitude':...",,4623.910775,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,656fc5cbfd2665174b1a81be,959816,0,17/500226/MIXED,The Food Warehouse By Iceland,Retailers - other,4613,Unit 1B,London Road Retail Park,London Road,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.50845', 'latitude': '51.277062'}",,4624.029886,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,656fc5cbfd2665174b1a81e1,1290095,0,20/500534/MIXED,Home Bargains,Retailers - other,4613,Unit 3,London Road Retail Park,London Road,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.508532', 'latitude': '51.2788...",,4624.092761,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,656fc5cbfd2665174b1a84c1,1171761,0,19/00108/FOOD,RBLI Ltd,Caring Premises,5,Gavin Astor House,Royal British Legion Village,London Road,...,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.479194', 'latitude': '51.2942...",,4625.734779,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,656fc5cbfd2665174b1a8d05,512509,0,12/00251/GARS,London Road Service Station,Retailers - other,4613,BP,Petrol Station,600 - 602 London Road,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.685268', 'latitude': '51.5456...",,4627.571850,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
7,656fc5cbfd2665174b1a9942,1380197,0,21/00119/MIXED,Akita Systems Ltd,Restaurant/Cafe/Canteen,1,Unit 15,Nepicar Park,London Road,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.3346093', 'latitude': '51.303...",,4631.372424,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,656fc5cbfd2665174b1a9943,1395425,0,FR/000004490,Bluebell Tea Rooms,Restaurant/Cafe/Canteen,1,The Bluebell Tearoom,Bypass Nurseries,London Road,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '1.0528415', 'latitude': '51.999...",,4631.385532,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,656fc5cbfd2665174b1a99f4,1395252,0,FR/000003923,Copdock & Old Ipswichian Cricket Club,Other catering premises,7841,Pavilion,Ipswich Cricket Club Ground,Old London Road,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '1.05727505683899', 'latitude': ...",,4631.738755,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [19]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = '0.01'
latitude = '51.49014200'
longitude = '0.08384000'
establishments.find({
  'loc': {
    '$near': {
        'type': "Point",
        ['geocode.latitude', 'geocode.longitude']: [77.216721, 28.644800]
      },
      "$maxDistance": degree_search
    }
  }
)
# Print the results

TypeError: unhashable type: 'list'

In [52]:
db.createIndex( { "location" : "2dsphere" } )

TypeError: 'Collection' object is not callable. If you meant to call the 'createIndex' method on a 'Database' object it is failing because no such method exists.

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [10]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
#2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {"$match": {'scores.Hygiene': 0}},
    {"$group": {'_id' : '$LocalAuthorityName', "count":{ '$sum':1}}},
    {'$sort':{'count':-1}}
]
pipelinelimten = [
    {"$match": {'scores.Hygiene': 0}},
    {"$group": {'_id' : '$LocalAuthorityName', "count":{ '$sum':1}}},
    {'$sort':{'count':-1}},
    {'$limit':10}
]
pipeline_count = [
    {"$match": {'scores.Hygiene': 0}},
    {"$group": {'_id' : '$LocalAuthorityName', "count":{ '$sum':1}}},
    {'$sort':{'count':-1}},
    { '$count': "Total" }]
resultsgb = establishments.aggregate(pipeline)
resultscount = establishments.aggregate(pipeline_count)
resultslimten = establishments.aggregate(pipelinelimten)
# Print the number of documents in the result
pprint(list(resultscount))
# Print the first 10 results
pprint(list(resultslimten))

[{'Total': 55}]
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [11]:
# Convert the result to a Pandas DataFrame
result_dfg = pd.DataFrame(resultsgb)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_dfg))
# Display the first 10 rows of the DataFrame
result_dfg.head(10)

Rows in DataFrame:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542